{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CAPSTONE/css/styles.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="top-nav">
        <a href="/">Sign In</a>
        <a href="/signup">Sign Up</a>
    </div>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signupForm">
            <input type="text" id="username" placeholder="Username" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Submit</button>
            <div id="errorMessages" class="error-messages"></div>
        </form>
    </div>
    <div class="background-image">
        <img src="{% static 'CAPSTONE/images/bg.jpg' %}" alt="Background" class="bg-img">
    </div>
    <script src="{% static 'CAPSTONE/script/script.js' %}"></script>
</body>
</html>
