{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Car Sale</title>
    <link rel="stylesheet" href="{% static 'App/css/styles.css' %}" />
  </head>
  <body>
    <div class="navbar">
        <div class="nav-pages">
          <a href="{% url 'app' %}">
            Home <span></span>
          </a>
          <a href="{% url 'login' %}">
            Log out<span></span>
          </a>
        </div>
    </div>
    <div class="container">
      {% if error %}
      <div class="alert">{{ error }}</div>
      {% endif %}
      <h1>Car price prediction</h1>
      <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group-wrapper">
          <div class="form-group-one">
            <div class="form-group">
              <label>Name:</label>
              <input type="text" name="name" required />
            </div>
            <div class="form-group">
              <label>Year:</label>
              <input type="month" name="year"  required/>
            </div>
            <div class="form-group">
              <label>KM Driven:</label>
              <input type="number" name="km_driven" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*"  required/>
            </div>
            <div class="form-group">
              <label>State:</label>
              <input type="text" name="state" required />
            </div>
            <div class="form-group">
              <label>City:</label>
              <input type="text" name="city" required />
            </div>
            <div class="form-group">
              <label>Fuel:</label>
              <select name="fuel" required>
                <option value=0>CNG</option>
                <option value=1>Diesel</option>
                <option value=3>Petrol</option>
                <option value=2>LPG</option>
              </select>
            </div>
            <div class="form-group">
              <label>Seller Type:</label>
              <select name="seller_type" required>
                <option value=1>Individual</option>
                <option value=2>Trustmark</option>
                <option value=0>Dealer</option>
              </select>
            </div>
            <div class="form-group">
              <label>Transmission:</label>
              <select name="transmission" required>
                <option value=1>Manual</option>
                <option value=0>Automatic</option>
              </select>
            </div>
          </div>
          <div class="form-group-two">
            <div class="form-group">
              <label>Owner:</label>
              <select name="owner" required>
                <option value="First">First</option>
                <option value="Second">Second</option>
              </select>
            </div>
            <div class="form-group">
              <label>Mileage:</label>
              <input name="mileage" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" required/>
            </div>
            <div class="form-group">
              <label>Engine:</label>
              <input type="number" name="engine" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*"  required/>
            </div>
            <div class="form-group">
              <label>Max Power:</label>
              <input type="number"  name="max_power" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*"  required/>
            </div>
            <div class="form-group">
              <label>Seats:</label>
              <input type="number"  name="seats"  pattern="\d+"  required/>
            </div>
            <div class="form-group">
              <label>Region:</label>
              <select name="region" required>
                <option value="East">East</option>
                <option value="Central">Central</option>
                <option value="West">West</option>
                <option value="South">South</option>
              </select>
            </div>
          </div>
        </div>
        <div class="submit-button">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
